<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39815518069-19u5t43g4d6c67488371pavq0qpm1625.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39815518069-19u5t43g4d6c67488371pavq0qpm1625</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhN216q-sTKumbut5PqArZS6r-I2qSC4</string>
	<key>GCM_SENDER_ID</key>
	<string>39815518069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opensesame</string>
	<key>PROJECT_ID</key>
	<string>open-sesame-ebca1</string>
	<key>STORAGE_BUCKET</key>
	<string>open-sesame-ebca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39815518069:ios:2b2721e8ec51be2c9ca53c</string>
	<key>DATABASE_URL</key>
	<string>https://open-sesame-ebca1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>